.explode {
  height: 128px;
  width: calc(1536px / 12);

  background: url("/public/assets/sprites/explosion-4.png");
  background-size: 1536px 128px;
  animation: explode 1.5s steps(12) infinite;
}

@keyframes explode {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -1536px 0;
  }
}

.idle-main {
  height: 7004px;
  width: calc(7004px / 19);

  background: url("/public/assets/sprites/18_idle-main.png");
  background-size: 7004px 369;
  animation: idle-main 0.9167s steps(19) infinite;
}

@keyframes idle-main {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -7004px 0;
  }
}

.attack-main {
  height: 8568px;
  width: calc(8568px / 21);

  background: url("/public/assets/sprites/17_attack-main.png");
  background-size: 8568px 408;
  animation: attack-main 1.75s steps(21) infinite;
}

@keyframes attack-main {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -8568px 0;
  }
}

.idle-spring {
  height: 307px;
  width: calc(3379px / 11);

  background: url("/public/assets/sprites/15_enemy_spring_idle_spritesheet.png");
  background-size: 3379px 307;
  animation: idle-spring 0.9167s steps(11) infinite;
}

@keyframes idle-spring {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -3379px 0;
  }
}

.attack {
  height: 307px;
  width: calc(8602px / 28);

  background: url("/public/assets/sprites/15_enemy_spring_attack_spritesheet.png");
  background-size: 8602px 307px;
  animation: attack 1.5s steps(28) infinite;
}

@keyframes attack {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -8602px 0;
  }
}

.character-enemy {
  transition: transform 0.5s ease; /* Smooth movement transition */
}

/* CSS Animation for blinking effect, blinking five times in 0.5 seconds */
@keyframes blink {
  0%,
  20%,
  60%,
  100% {
    filter: none;
  }
  10%,
  50%,
  90% {
    filter: brightness(10);
  }
}

.character-main.hit {
  animation: blink 0.5s ease-in-out;
}

/* CSS Animation for shaking effect */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.hit {
  animation: blink 0.5s ease-in-out, shake 0.5s ease-in-out;
}

.animate-error {
  animation: shake 0.5s ease;
  border: 2px solid #ff9999; /* Light red border */
  box-shadow: 0 0 5px #ff9999; /* Soft red shadow */
}

.animate-shake {
  animation: shake 0.5s ease;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
