body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

/* .modal{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
} */

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
    opacity: 50%;
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #FFC658;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 550px;
    min-width: 550px;
    max-height: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-family: 'lilita one';
    z-index: 1;
    /* margin-top: 50px; */
}

h1{
    color: black;
}

p{
    font-size: 20px;
}
.btn-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;

}
/* .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
} */