/* body.active-modal {
    overflow-y: hidden;
} */

body.active-modal {
    overflow-y: hidden;
    pointer-events: none;
  }
  
  body.active-modal .modal, 
  body.active-modal .overlay {
    pointer-events: all;
  }
  
.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

/* .modal{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
} */

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
}

.overlay {
    background: rgba(49,49,49,0.8);
    opacity: 50%;
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #FFC658;
    padding: 10px 28px;
    border-radius: 3px;
    max-width: 550px;
    min-width: 550px;
    max-height: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-family: 'lilita one';
    z-index: 1001;
    /* margin-top: 50px; */
}

.modal-title{
    color: black;
    font-size: 30px;
    height: 30px;
}

.modalContent{
    font-size: 20px;
    flex: 1;
}

.message-title{
    font-size: 30px;
    height: 30px;
    color: #FF0800;
}

.btn-container{
    margin-left: 50px;
    padding: 20px;

}

.modal-btn{
    width: 100px;
}

.message-btn{
    width: 100px;
    margin-left: 90px;
}