.nav-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.nav-bar {
  width: 100%;
  height: 5ch;
  background-image: url("/public/assets/background/bg_nav.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
}

.nav-bar a {
  color: #fff;
  font-family: "Lilita One";
}

.nav-bar a:last-child {
  /* margin-right: 30px; */
}

.nav-bar {
  height: 50px; /* default height */
}

@media (max-width: 768px) {
  .nav-bar {
    height: 30px; /* smaller height for smaller screens */
  }
}

@media (min-width: 1024px) {
  .nav-bar {
    height: 60px; /* possibly larger for bigger screens */
  }
}

.nav-bar__logo {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -4;
}

.nav-bar__logo img {
  width: 150px; /* Set a default width */
}

.nav-bar__logo img {
  width: 10%;
}

/* CSS FOR BORGIR */

.menu-icon {
  width: 30px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 20px; /* Adjust as needed */
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.menu-icon .bar {
  width: 100%;
  height: 4px;
  background-color: #ffcd6c;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.menu-icon.active .bar:nth-child(1) {
  transform: translateY(150%) rotate(40deg);
}

.menu-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
  transform: translateY(-300%) rotate(-40deg);
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 23.8rem;
  left: 0px; /* Adjust as needed */
  height: 40rem;
  width: 200px; /* Adjust as needed */
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%) translateX(-100%); /*starting location*/
  transition: transform 0.3s ease;
  z-index: 10;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.menu:hover {
  color: #a893bf;
}

.menu.open {
  padding-top: 0;
  transform: translateY(-50%) translateX(0); /*last location*/
}

.menu a {
  text-decoration: none;
  color: #333;
  width: 100%;
  padding: 20px 0;
}

.menu.open + .overlay {
  display: block;
}

.menu a:hover {
  background-color: #a893bf;
  width: 100%;
}

/* CSS FOR PROFILE */
.profile-icon .circle {
  height: 45px;
  width: 45px;
  background-color: black;
  border: 1px solid white;
  box-shadow: 0px 0px 10px gold;
  border-radius: 50%;
  display: inline-block;
  margin-top: 1.5rem;
  transform: translateX(13rem) translateY(-25%);
  transition: transform 0.1s ease;
  cursor: pointer;
}

.circle.open {
  transform: translateX(200%) translateY(-25%);
  position: absolute;
  z-index: 200000;
  margin-top: 0;
  bottom: -35px;
}


.profile {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  left: 0px;
  height: 0;
  width: 20px;
  background-color: #9d7add;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid white;
  padding-left: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: scaleX(100%) scaleY(0);
  transform-origin: top;
  transition: transform 0.1s ease;
  transition-delay: 0.3s;
  overflow-x: hidden;

}
.profile-link{
  padding-left: 100px;
  padding-right: 100px;
}
.profile.open :hover{
  background-color: #ffce6d;
  color:#333;
  cursor: pointer;
}

.profile.open {
  right: 0;
  padding-left: 0px;
  z-index: 10;
  width: 202px;
  height: 10rem;
  transform: scaleX(100%) scaleY(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  overflow: hidden;
  gap: 10px;
  top: 0;
  position: absolute;
  margin-left: 100px;
  
}

.profile-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  right: 0;
}

.profile-container {
  outline: 2px solid green;
  width: 25%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.inv-shop {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 250px;
  gap: 20px;
  right: -150px;
  top: 50%;
  transform: translateY(-50%) translateX(90px);

}

.inv-shop-icon {
  width: 2rem;
  transition: transform 0.1s ease;
  cursor: pointer;
}
.inv-shop .open{
  transform: translateY(0%) translateX(-220%);
}

.profile-side {
  transform: translateY(0%) translateX(350%);
  width: 202px;
  height: 2.5rem;
  transition: transform 0.1s ease;
  background-color: #9d7add;
  border-bottom: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 24px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  align-items: center;
}

.profile-side.open {
  transform: translateY(0%) translateX(150%);
  z-index: 10000;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
}



.profile-side p {
  font-family: "lilita one";
  text-align: center;
  color: #fff;
}
