.createroom-container {
  height: 81vh;
  display: flex;

  justify-content: center;
  background: url("/public/assets/background/bg_create_room.webp");
  background-position: center;
  background-size: cover;
}

.createroom-card {
  height: 450px;
  width: 680px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  position: relative;
  margin-top: 8%;
}

.createroom-card__heading {
  top: 5%;
  position: absolute;
}
