.dashboard-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 2rem;
}

.game-card-wrapper {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.game-card-wrapper .game-card:nth-child(2) .card-h__banner {
  height: 180%;
}
