.gameplay-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.gameplay-platform {
  flex: 7; /* Occupies 80% of the available space */

  display: flex;
  align-items: flex-end;
  justify-content: space-around;

  background-repeat: no-repeat;
  background: url("/public/assets/background/bg_adventure.webp");
  background-size: cover;
  position: relative;
}

.character {
  height: 307px;
  width: calc(8602px / 28);
}

.gameplay-control {
  flex: 4; /* Occupies 20% of the available space */

  display: flex;
  z-index: 5;
  position: relative;
}

.border {
  position: absolute;
  width: 100%;
  height: 100%;
}

.control-item,
.control-clue {
  height: 100%;
  width: 30%;
  border: 15px solid #662b9a;
}

.control-input {
  height: 100%;
  width: 40%;
}

.control-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-item-container {
  width: 100%;
  height: 100%;
  background-color: #9a6dea;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 1rem;
  overflow: auto;
}

.item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 80%;
  gap: 1rem;
  flex-wrap: wrap;
  overflow: auto;
}
.item-container {
  min-height: 75px;
  min-width: 90px;
  max-height: 70px;
  max-width: 80px;
  background-color: #4a2053;
  margin-top: 10px;

  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  border-radius: 10px;
}

.item-container img {
  width: 80%;
  margin-bottom: 10px;
}

.item-qty {
  height: 20px;
  min-width: 25px;
  background-color: #ffc658;
  color: #d26500;
  position: absolute;
  font-family: "Lilita One";
  right: 2px;
  bottom: 5px;
  text-align: center;
  border-radius: 5px;
}

.control-clue {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clue-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 80%;
  flex-wrap: wrap;
  gap: 0.5rem;
  overflow: auto;
}

.control-clue-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9a6dea;
}

.lbl_pronunciation,
.lbl_definition {
  color: #fff;
  font-family: "Lilita One";
}

.control-clue h3 {
  margin: 0;
  align-self: center;
  color: #fff;
  font-family: "Lilita One";
}

.text-pronunciation {
  height: 30px;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.text-pronunciation-lock span {
  display: none;
}

.text-pronunciation-lock::after {
  content: "";
  display: inline-block;
  background: url("/public/assets/icon/ic_locked.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-definition {
  height: 80px;
  width: 100%;
  background-color: #fff;
}

.character {
  display: flex;
  justify-content: flex-end;
}

.character {
  display: flex;
  justify-content: flex-end;
}
.character-main {
  height: calc(7004px / 19);
  width: 369px;
}

.floor_indicator {
  width: 100%;
  background-repeat: no-repeat;
  height: 200px;
  background: url("/public/assets/misc/floor_indicator.webp");
  background-size: cover; /* cover to ensure full coverage */
  background-position: center; /* centers the background image */
  background-repeat: no-repeat;
  transform: scale(0.2);
  z-index: 2;
  position: absolute;
  top: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Lilita One";
  font-size: 65pt;
}

.input-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.lives-container {
  width: 100%;
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.lives-container img {
  width: 6%;
}

.input-answer {
  font-family: "Lilita One";
  text-align: center;
  font-size: 18pt;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  margin: 0;
  padding: 0;
}
.input-answer:disabled {
  background-color: transparent;
}

.btn-go:disabled,
.btn-audio:disabled {
  background-color: pink;
}

.game-over {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-size: 50pt;
  justify-content: center;
  align-items: center;
  font-family: "lilita one";
  color: #333;
  margin: 0;
}
