.shop-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-section {
  height: 70%;
  width: 65%;

  display: flex;
  align-items: flex-start;

  gap: 5rem;
  flex-flow: row;
  overflow: auto;

  /* padding-bottom: -20px; */
  /* padding-top: 10px; */
}

.inventory-section {
  display: flex;
}

.inventory-item-selection-box {
  height: 350px;
  width: 60%;
  border: 1px solid black;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 15px;
  padding: 10px 0px 0px 20px;
}

.inventory-item-box {
  height: 70px;
  width: 90%;
  margin-top: 30px;
  margin-left: 35px;
  border: solid #593796;
  border-radius: 9px;
  padding: 7px 5px 5px 7px;
  display: flex;
  cursor: pointer;
}

.inventory-item-box.active {
  border: solid #ffc658;
}

.item-description-box {
  margin-left: 10px;
}

.inventory-item-sub-box {
  height: 50px;
  width: 50px;
  border: 1px solid #666666;
  background-color: #666666;
  box-shadow: inset 0 0 2px black;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.inventory-item-sub-box img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-title {
  font-family: "lilita one";
  font-weight: 500;
  font-size: 25px;
}

.item-description {
  font-family: "lilita one";
  font-weight: 300;
  color: black;
  font-size: 13px;
}

.inventory-item-display-box {
  height: 350px;
  width: 30%;
  border: 1px solid black;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 15px;
  padding: 20px 10px 10px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inventory-item-picture {
  height: 53%;
  width: 60%;
  border: solid #593796;
  border-radius: 9px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventory-item-picture img {
  position: absolute;
  height: 90%;
}

.inventory-item-title {
  font-weight: 500;
  font-family: "lilita one";
  padding: 10px;
  font-size: 20px;
}

.inventory-item-description {
  font-weight: 500;
  font-family: "lilita one";
  padding: 5px 15px 10px 15px;
  font-size: 20px;
}
