.game-card-wrapper{
    margin-top: 2rem; 
    width: 80%;
    position: absolute;
}
.txt-Rooms{
    font-family: "lilita One";
    font-size: 2rem;
    margin-left: 10%;
    margin-top: 4%;
}
.card-simulation{
    height: 30rem;
    width: 18rem;
}