.simulation-wrapper {
  height: 100%;
  width: 100%;
}

.game-card-wrapper {
  margin-top: 2rem;
  width: 80%;
}

.room-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.room-card-wrapper {
  margin-top: 2rem;
  width: 80%;
  display: flex;
  overflow-x: auto;
  gap: 2rem;
}
.txt-Rooms {
  font-family: "lilita One";
  font-size: 2rem;
  margin-top: 4%;
  margin-left: 0;
}
.card-simulation {
  height: 30rem;
  width: 18rem;
}
