main {
  height: 100vh;
  width: auto;
}

.login-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  background-color: #fff;

  outline: green solid 2px;
  width: 800px;
  height: 580px;

  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login-sidebar {
  height: 100%;
  width: 50%;
  /* outline: blue solid 2px; */

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 0.1rem;
  position: absolute;
  right: 0;
}

.card {
  border: 2px solid #c4c4c4;
  border-radius: 20px;
  height: 90%;
  width: 85%;
}
.card__header {
  text-align: center;
  color: #534e64;
}
.banner-sidebar {
  height: 100%;
  width: 55%;
  /* outline: red solid 2px; */
  position: absolute;
  left: 0px;
  z-index: 1;

  display: flex;
  align-items: center;
}

.banner-sidebar img {
  width: 100%;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.input {
  outline: none;
}

.input__card {
  border-color: #c1c1c1;
}
